.backgroundHeader {
  position: relative;
  background-color: var(--Gray-700);
  width: 100%;
  height: 200px;

  padding-top: 72px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 53px;
}
.inputWrapper {
  display: flex;
  flex: 1;
  position: absolute;
  bottom: -27px;
  flex-direction: row;
  gap: 8px;
}
.inputWrapper > input {
  background-color: var(--Gray-500);
  color: var(--Gray-100);
  border: none;

  width: 600px;
  height: 54px;
  border-radius: 8px;
  padding: 16px;
}
.inputWrapper > input::placeholder {
  color: var(--Gray-300);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.inputWrapper > button {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border: none;

  border-radius: 8px;
  background: var(--Blue-Dark);

  cursor: pointer;

  font-weight: 700;
  color: var(--Gray-100);
}
.inputWrapper > button:hover {
  background: var(--Blue);
}
